[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Owen
	email = 78411938+Owen-3456@users.noreply.github.com
[credential]
	helper = store